[credential]
	helper = store
[user]
	email = zach.thomas1.zt@gmail.com
	name = Zach Thomas
[core]
	editor = emacsclient -c
	autocrlf = false
	whitespace = cr-at-eol
	excludesFile = ~/.gitignore
[init]
	defaultBranch = main
